<main class="js-main">
	<section class="search">
		<form>
			<input
				class="js-searchInput input"
				type="text"
				name="input"
				id="input"
				placeholder="One Piece"
			/>
		</form>
		<div>
			<button class="js-btnSearch button">Search</button>
			<button class="js-btnReset button">Reset</button>
		</div>
	</section>

	<section class="container">
		<button class="buttonDelete js-deleteAll hidden">
			Delete all favourites
		</button>
		<ul class="favourites js-favourites hidden"></ul>
		<ul class="result js-result hidden"></ul>
	</section>
</main>
